html, body, div, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    color: #ccc;
    font-family: "Helvetica Neue";
    font-size: 1.5em;
    overflow: hidden;
    -webkit-transition: all 250ms ease;
    -webkit-transform: translateX(0);
}

h1 {
    color: #00E5E5;
    text-shadow: 0px 0px 4px #00FFFF;
}

h1, h2:not(.subtitle) {
    text-align: center;
}

a {
    color: #15E569;
    text-shadow: 0 0 3px #18FF75;
    text-decoration: none;
}

ul, li {
    padding: 0;
}

li {
    margin-top: 65px;
}

.deck {
    -webkit-transition: all 250ms ease;
    -webkit-transform: translateX(0);
}

.slide {
    background-image: -webkit-gradient(linear,
                                       0 0, 0 100%,
                                       from(#111), color-stop(70%, #111),
                                       color-stop(70%, #111), to(#333));
    margin: 0;
    position: absolute;
    top: 0;
}

.title.slide p,
.title.slide .subtitle {
    margin-left: 200px;
}

.slide ul{
    margin-left: 7em;
}

.content {
    position: relative;
    top: 170px;
    width: 60%;
    margin: 0 auto;
}

.continued {
    font-size: .5em;
}

.footnote {
    margin-top: 200px;
}

dt {
    clear: both;
    float: left;
}

dd {
    float: right;
}

#slideList {
    -webkit-transition: all 250ms ease;
    -webkit-transform: translateY(0);
    position:absolute;
}

#notice {
    background-color: rgba(204,204,204,.2);
    border-radius: 16px;
    padding: .5em;
	  position: absolute;
      top: 2em;
      left: 2em;
    width: 400px;
}

#notice a {
    color: #FF1A2A;
    float: right;
    font-size: 1.2em;
		text-shadow: 0px 0px 3px #E51726;
}
